.container {
    position: relative;
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.flex_row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.fullWidth {
    width: 90vw;
}
  
  .margin_y__10 {
      margin-top: 10px !important;
      margin-bottom: 10px !important;
  }

  .button_card {
      width: 90vw !important;
      margin: 10px 5px !important;
      display: flex !important;
      align-self: center !important;
      background-color: white !important;
      color: #000000 !important;
      transition: all 1s !important;
  }

  .button_card:hover {
    width: 85vw;
    margin: 10px 0;
    display: flex;
    background-color: #1976D2;
    color: #ffffff;
}


.button_card__danger {
    width: 90vw !important;
    margin: 10px 0 !important;
    display: flex !important;
    background-color: #8C0000 !important;
    color: #ffffff !important;
    transition: all 1s !important;
}

.button_card__danger:hover {
  width: 85vw;
  margin: 10px 0;
  display: flex;
  background-color: #000000;
}

.bottom_center {
    position: relative !important;
    left: 44vw !important;
    bottom: 1% !important;
    width: 56px !important;
}

.card_white {
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 40vw;
    min-height: 60vh;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 4px 7px rgba(0,0,0,0.5);
}
  